@font-face {
  font-family: 'MagicSchool';
  src: url('src/assets/MagicSchoolOne.ttf');
}

body {
  background-color: black;
  color: white;
  font-family: 'MagicSchool';
  font-size: 5rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.glowing-text {
  animation: glow 1s ease-in-out infinite alternate;
  margin-bottom: 1rem;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e6d700, 0 0 40px #e6ad00, 0 0 50px #e69600, 0 0 60px #e6a500, 0 0 70px #e68600;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ffac4d, 0 0 40px #ffa64d, 0 0 50px #ff854d, 0 0 60px #ff7a4d, 0 0 70px #ff744d, 0 0 80px #ff7a4d;
  }
}

.home-container {
  display: flex;
}

.item-form-button {
  color: black;
  padding: 1rem 2rem 1rem 2rem;
  margin: 1rem;
  border-radius: 16px;
}

.input-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
}

form p {
  font-size: 3rem;
  margin: 1px 1px 1px 1px;
}

form label {
  font-size: 2rem;
}

fieldset {
  border-radius: 20px;
}

form section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 15rem;
}

.custom-btn {
  transition: background-color 0.3s ease;
}

.custom-btn:hover {
  background-color: #00b3db !important;
}

.signup-link {
  transition: color 0.3s ease;
}

.signup-link:hover {
  color: #00b3db !important;
  text-decoration: underline;
}

.user-input input {
  color: #00b3db !important;
}

.user-input input::placeholder {
  color: #aaa !important;
}

.user-input input:focus {
  color: white !important;
}

